* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card {
  width: 22rem;
  height: 30rem;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
}

.card1 {
  width: 22rem;
  height: 7rem;
  background-color: #1e96ce;
}

.card1 .input-answer {
  float: right;
  margin: 0.5rem 1rem;
}

.card1 .input-answer input[type="text"] {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  text-align: right;
  font-size: 1.5rem;
}

.card1 .input-eval {
  float: left;
  margin: 0.5rem 1rem;
}

.card1 .input-eval input[type="text"] {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: 1.5rem;
}

.card2 {
  width: 22rem;
  height: 23rem;
}

.card2 .buttons {
  margin: 2rem 0rem;
}

.card2 .buttons .button1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1rem 0rem;
}

.card2 .buttons .button1 button {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

.card2 .buttons .button1 button:hover {
  background-color: #4441e7;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
}

.card2 .buttons .button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1rem 0rem;
}

.card2 .buttons .button2 button {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

.card2 .buttons .button2 button:hover {
  background-color: #4441e7;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
}

.card2 .buttons .button3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1rem 0rem;
}

.card2 .buttons .button3 button {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

.card2 .buttons .button3 button:hover {
  background-color: #4441e7;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
}

.card2 .buttons .button4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1rem 0rem;
}

.card2 .buttons .button4 button {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

.card2 .buttons .button4 button:hover {
  background-color: #4441e7;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
}

.equal {
  background-color: red;
  color: white;
}
/*# sourceMappingURL=style.css.map */